@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    color: #94312d;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    font-size: .9em;
    color: #94312d;

}

button {
    border: none;
    background-color: transparent;
    padding: 0.5em;

    font-size: 1em;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    color: #94312d;
}

button:hover {
    border-radius: 20px;
    background-color: #f9c9b7;
    cursor: pointer;
}

input {
    border-radius: 25px;
    border: 0.5px solid black;
    text-align: center;


}

input:focus-visible {
    outline-color: #94312d;

}